.images {
  background-image: url("../pics/assets/backgrounds/main.jpg");
  background-repeat: no-repeat;
  width:100%;
  height:100%;
  background-size: 100% 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  color: white;
}
.number3 {
  background-image: url("../pics/assets/backgrounds/s_image.jpg");
@@ -27,8 +28,38 @@
  padding-top: 100px;
  padding-bottom: 100px;
}
.number6 {
  background-image: url("../pics/assets/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 120px;
  width: 100%;
  height:100%;
  background-size: 100% 100%;
}
.number8 {
  text-align: center;
}
.input[type=text], select{
  width: 40%;
  width: 45%;
  display: grid;
}
.column{
  float: left;
  width:33%;
}
#p,#pp,#ppp {
  display: none;
}
.input{
  text-align: center;
}
.input input{
  background: transparent;
}
::placeholder{
  color: white;
}
#you{
  width:410px;
  padding-bottom: 70px;
}
.number{
  text-align: center;
}
